.home-services-section {
    width: 100%;
    background: linear-gradient(162deg, #F3F7FA 6.558481819703029%, var(rgb(255, 255, 255), #ffffff) 49.0988632589861%, #EDF4FF 93.78500356939907%);
    padding: 20px;
    padding-top: 60px;
}

.home-services-contents {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}


.home-services-headings {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 10px;
    padding-bottom: 40px;
}


.home-services-headings h1 {
    padding: 5px;
    font-size: 45px;
    display: flex;
    color: var(--title-color)z;
}

.home-services-headings p {
    width: 50%;
    text-align: center;
}

.home-services-listing {
    align-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex: 1 0 0px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    height: min-content;
    justify-content: space-between;
    padding: 0;
    position: relative;
    width: 100%;
}

.services-list-item {
    width: 30%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 8px;

}


.services-list-item h4 {
    font-size: 18px;
    font-family: var(--text-ff);
    font-weight: 600;
}

.services-list-item p {
    font-size: var(--text-fs);
    color: var(--text-color);
    font-family: var(--text-ff);
    letter-spacing: -.2px;
    font-weight: var(--text-fw);
}

.services-list-item img {
    background-color: rgb(0, 100, 255);
    filter: invert(100%) sepia(0%) saturate(900%) hue-rotate(186deg) brightness(97%) contrast(106%);
    height: 50px;
    width: 50px;
    padding: 6px;
    object-fit: contain;
    border-radius: 4px;
}


.services-list-item .learn-more-services {
    color: var(--orange-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    transition: .7s;
}

.services-list-item .learn-more-services a:hover,
.services-list-item .learn-more-services:hover {
    color: var(--blue-color);
    transform: translateX(5%);
}

.services-list-item .learn-more-services a {
    color: var(--orange-color);
    font-family: var(--footer-links-ff);
    font-size: 14px;
    margin-right: 5px;
    transition: .5s;
}

.more-services-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.more-services-btn a {
    padding: 12px;
    background-color: var(--orange-color);
    color: var(--background-color);
    font-size: var(--text-fs);
    font-family: var(--text-ff);
    border-radius: 8px;
    transition: .5s;

}

.more-services-btn a:hover {
    color: var(--background-color);
    background-color: var(--blue-color);
}

@media screen and (max-width:1024px) {
    .services-list-item {
        width: 30%;
        padding: 12px;
    }
}

@media screen and (max-width: 900px) {

    .home-services-section {
        padding: 15px;
        padding-top: 60px;
    }

    .display-none {
        display: none;
    }

    .services-list-item {
        width: 48%;
        padding: 10px;
    }

    .home-services-headings p {
        width: 60%;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {

    .home-services-listing {
        justify-content: center;
    }

    .home-services-section {
        padding: 12px;
        padding-top: 60px;
    }

    .services-list-item {
        width: 80%;
    }

    .home-services-headings h1 {
        padding: 3px;
        font-size: 38px;
    }

    .home-services-headings p {
        width: 70%;
        text-align: center;
    }
}

@media screen and (max-width: 550px) {
    .home-services-section {
        padding: 10px;
        padding-top: 60px;
    }

    .home-services-headings {
        padding: 0px;
    }

    .home-services-headings h1 {
        padding: 3px;
        font-size: 34px;
    }
}

@media screen and (max-width: 450px) {

    .home-services-section {
        padding: 6px;
        padding-top: 60px;
    }

    .home-services-headings h1 {
        padding: 3px;
        font-size: 27px;
    }
}

@media screen and (max-width: 360px) {
    .home-services-section {
        padding: 4px;
        padding-top: 60px;
    }

    .home-services-headings h1 {
        padding: 0px;
        font-size: 25px;
    }
}