@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    /* colors */
    --background-color: #F3F7FA;
    --gradient-color: #EDF4FF;
    --orange-color: rgb(255, 105, 71);
    --blue-color: rgb(35, 106, 242);
    --title-color: #0a1834;
    --text-color: rgb(53, 65, 88);
    --links-color: rgb(95, 108, 132);

    /* font family */
    --title-ff: Lato, "poppins";
    --other-ff: Libre Baskerville, "poppins";

    /* font weight */
    --title-fw: 700;
    --nav-link-fw: 500;
    --other-fw: 400;

    /* font size */

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3 {
    font-family: var(--title-ff);
}

a {
    text-decoration: none;
}

li,
ul {
    list-style: none;
}

.container {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 95%;
}

.section {
    margin-top: 4rem;
}